@keyframes image-appear {
  0%,
  100% {
    transform: translateY(-15px);
    opacity: 0;
  }
  10%,
  90% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slideshow {
  text-align: center;
}

.slideshow picture, .slideshow img {
  display: none;
  max-width: 100%;
  animation-name: image-appear;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  opacity: 0;
}

.slideshow picture.shown, .slideshow .shown img {
  display: inline-block;
}

.slideshow .source {
  position: absolute;
  bottom: 10px;
  right: 50%;
  background: #e66;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 2px;
  z-index: 100;
  opacity: 0.8;
}

.slideshow .source:hover {
  background: #F77;
  opacity: 1;
}

.compare {
  display: flex;
  overflow-x: auto;
  justify-content: center;
}

.compare .character {
  margin: 10px;
  display: inline-block;
  width: 200px;
  flex: 1 0 auto;
  background: #EEE;
  border: 2px solid #ccc;
  border-radius: 5px;
  max-width: 360px;
}

.compare .character img {
  width: 100%;
}

.compare .character .name {
  font-size: 40px;
  font-weight: 500;
  background: #F7F7F7;
  padding: 10px;
  border-top: 2px solid #d5d5d5;
}

.compare .character .name .small {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}

.compare .character ul {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

.compare .character ul li {
  padding: 10px;
  border-top: 2px solid #d5d5d5;
}

.google-searchbar {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 44px;
  line-height: 44px;
  padding: 0 16px;
  font-size: 16px;
  font-family: arial,"Roboto Light", "Noto",sans-serif;
  font-weight: normal;
  font-feature-settings: initial;
  color: #000;
  margin: 16px 0;
  cursor: text;
  text-align: left;
  max-width: 512px;
  width: 100%;
  display: inline-block;
}

.google-searchbar:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.google-searchbar .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  font-size: 24px;
  color: #4285f4;
  height: 100%;
}

.google-searchbar .buttons * {
  cursor: pointer;
}

.google-searchbar .buttons :first-child {
  margin: 0 16px;
}

.google-definition {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  font-family: arial,sans-serif;
  font-feature-settings: initial;
  background: #fff;
  padding: 16px;
  margin: 16px 0;
  color: #222;
  border-radius: 2px;
  text-align: left;
  max-width: 512px;
  width: 100%;
  display: inline-block;
}

.google-definition h1 {
  font-size: 32px;
  font-weight: 400;
  margin: 0;
}

.google-definition h3 {
  font-size: 18px;
  margin: 0;
  font-weight: normal;
}

.google-definition #listen:hover {
  color: #000;
  cursor: pointer;
  user-select: none;
}

.google-definition .noun {
  padding-top: 10px;
  font-style: italic;
  font-size: 13px;
}

.google-definition .definition {
  display: list-item;
  margin-left: 30px;
  padding-left: 0;
  padding-top: 10px;
  font-size: 13px;
  font-weight: 400;
}

.google-definition .definition b {
  font-weight: bold;
}

.google-definition .definition.no-bullet {
  display: block;
  margin-left: 0;
  padding-left: 20px;
}

.google-definition .definition .example {
  color: #878787;
}

.google-definition .definition .synonyms {
  display: flex;
}

.google-definition .definition .synonyms span:first-child {
  margin-right: 3px;
}

.google-definition .definition a {
  color: #1a0dab;
  text-decoration: none;
}

.google-definition .definition a:hover {
  text-decoration: underline;
}

.card-toogle {
  display: none;
}

.card {
  text-align: left;
  padding: 10px;
  width: 220px;
  height: 340px;
  vertical-align: middle;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  background: #fff;
  cursor: pointer;
  transition: 0.1s all ease-out;
  font-size: 24px;
  line-height: 1.1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-weight: 400;
}

.card b {
  font-weight: 600;
  color: #333;
}

.card:hover {
  width: 230px;
  height: 350px;
  margin: 10px;
  padding: 15px;
  background: #F5F5F5;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

input.card-toogle:checked ~ .card {
  background: #EEE;
  width: 240px;
  height: 360px;
  margin: 5px;
  padding: 20px;
}

input.card-toogle:checked ~ .card .question {
  display: none;
}

input.card-toogle:checked ~ .card .answer {
  display: block;
}

.card:active,
input.card-toogle:checked ~ .card:active {
  background: #E5E5E5;
  width: 220px;
  height: 340px;
  margin: 15px;
  padding: 10px;
}

.card .answer {
  display: none;
  font-size: 20px;
}
