@charset "UTF-8";
/* Scss Document */
html {
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  overflow-x: hidden;
  max-width: 100%;
  line-height: 1.15;
  display: block;
}

body {
  margin: 0;
  display: block;
}

* {
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: top right;
  background-attachment: fixed;
}

.main .small {
  opacity: 1;
  margin-top: 20px;
}

.main .language-select {
  z-index: 100;
  display: flex;
}

.main #translator-mode {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1000;
  display: none;
}

.main #translator-mode:target {
  display: flex;
}

.main #translator-mode > * {
  margin: 2px;
}

.main .disclaimer {
  margin: 10px;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  max-width: 600px;
}

.main .scroll-notice {
  width: 100%;
  position: absolute;
  left: 0;
  top: 80%;
  font-size: 18pt;
  z-index: 1000;
}

.main .scroll-notice .fas {
  font-size: 28pt;
  vertical-align: middle;
  margin-right: 10px;
}

.main .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: end;
  justify-content: end;
  padding: 10px;
  z-index: 10;
}

.main .footer background:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%)
img {
  height: 70px;
  margin: 10px;
  opacity: 0.6;
  transition: 0.1s all linear;
}

.main .footer background:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%)
img:hover {
  opacity: 1;
}

.back-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
}

.main .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.main .title h1 {
  font-size: 128px;
  line-height: 128px;
  margin: 0;
  font-weight: 600;
}

.main .title h2 {
  font-size: 32px;
  margin: 0;
  font-weight: normal;
}

.main .title p {
  margin: 0 0 10px;
}

.intro {
  background-image: url("../assets/img/back.jpg");
  background-size: cover;
  background-position: top right;
  background-attachment: fixed;
}

.has-webp .intro {
  background-image: url("../assets/img/webp/back.webp");
}

.intro .title h2 {
  background: #e669;
  padding: 5px； border-radius：5px;
}

.end {
  background-image: url("./img/back_end.jpg");
}

.has-webp .end {
  background-image: url("../assets/img/webp/back.webp");
}

.end .title h2 {
  margin-top: 30px;
}

.scroll {
  box-shadow: 0 12.5px 25px rgba(0, 0, 0, 0.25);
}

.section {
  width: 100%;
  overflow: hidden;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 10px;
  background: #fff;
  color: #404040;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  border-bottom: solid 2px #ddd;
}

.section:nth-child(odd) {
  background-color: #f5f7f9;
}

.section:nth-child(even) {
  background-color: #EAECEE;
}

.section:nth-child(even) .center,
.section:nth-child(even) .left,
.section:nth-child(even) .right {
  display: inline-block;
  width: 50%;
  max-width: 512px;
  z-index: 10;
  padding: 50px 0;
  margin: 0 10px;
}

.section:nth-child(even) .image {
  padding: 0;
  display: flex;
}

.section:nth-child(even) .image img {
  min-height: 500px;
}

.section:nth-child(even) .image .left {
  text-align: right;
}

.section:nth-child(even) .image .image.left {
  justify-content: flex-end;
}

.section:nth-child(even) .image .image.right {
  justify-content: flex-start;
}

.section:nth-child(even) .image .center {
  width: 100%;
  max-width: 1024px;
  text-align: center;
}

.section:nth-child(even) .image h2 {
  color: #444;
  font-size: 42px;
  font-weight: 500;
  margin: 5px 0;
}

.section:nth-child(even) .image p {
  color: #555;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.4;
  margin: 24px 0 12px;
}

.section:nth-child(even) .image p b {
  font: weight 500;
  color: #444;
}

.section:nth-child(even) .image.background {
  padding: 30px 0;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

.section:nth-child(even) .image.background h2 {
  color: #fff;
  font-size: 64px;
  font-weight: 500;
  margin: auto;
}

.section:nth-child(even) .image.background p {
  color: #fff;
  font-size: 32px;
  margin: auto 16px;
  font-weight: 400;
}
