/* Scss Document */
@keyframes image-appear {
  0%,
  100% {
    transform: translateY(-15px);
    opacity: 0;
  }
  10%,
  90% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slideshow {
  text-align: center;
  border: 20px solid black;
}

.slideshow picture, .slideshow img {
  display: none;
  max-width: 100%;
  animation-name: image-appear;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  opacity: 0;
}

.slideshow picture.shown, .slideshow .shown img {
  display: inline-block;
}

.slideshow .source {
  position: absolute;
  bottom: 10px;
  right: 50%;
  background: #e66;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 2px;
  z-index: 100;
  opacity: 0.8;
}

.slideshow .source:hover {
  background: #F77;
  opacity: 1;
}

.slideshow ::selection {
  background: #e66;
  color: #fff;
}

.slideshow a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
